.about__container {
  padding: 30px 85px 30px 85px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 0;
  max-width: 800px;

  @media (max-width: $breakpoint-big) {
    padding: 30px 10px 85px;
    font-size: 1.125rem;
    max-width: 90%;
  }

  h1 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 800;
    margin: 30px 0 10px;
  }

  p {
    line-height: 27px;
    font-size: 18px;
    margin: 5px 0 5px;
    @media (max-width: $breakpoint-big) {
      font-size: 1rem;
    }
  }

  ul {
    line-height: 27px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 24px;
    list-style: none;

    li {
      margin-top: 6px;
    }
    li::before {
      content: "\203A";
      font-size: 23px;
      color: $pink;
      font-weight: 800;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  a {
    font-size: 18px;
    font-weight: 500;
    @media (max-width: $breakpoint-big) {
      font-size: 1rem;
    }
  }

  .button-small__container {
    text-align: center;
    margin: 30px 0 10px;
  }

  .tabbed__donation {
    // font-size: 23px;
    font-weight: 500;
    padding-left: 20px;
    border-left: 2px solid $pink;
    display: inline-block;
    
    
  }
}

.text-center {
  text-align: center;
}
