.home__container {
  padding-top: 50px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //   background-image: url(https://images.unsplash.com/photo-1601293058843-f34e8dd9ccfd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);
  background-image: url(/starfield.svg);
  margin: 0 auto 0;
  text-align: center;
  @media (max-width: $breakpoint-big) {
    max-width: 98%;
  }

  h1 {
    max-width: 800px;
    font-size: 46px;
    font-weight: 800;
    margin: 10px auto 10px;
    @media (max-width: $breakpoint-big) {
      font-size: 2rem;
    }
  }

  h2 {
    margin: 0 auto 20px;
    max-width: 500px;
    font-size: 24px;
    // line-height: 33px;
    font-weight: 300;
    @media (max-width: $breakpoint-big) {
      font-size: 1.125rem;
      max-width: 90%;
    }
  }

  .home__buttons {
    padding-top: 20px;
    text-align: center;
    display: flex;
    margin: 0 auto 0;
  }

  .home__ask {
    margin: 30px auto;
  }
}
