.uji-hipotesis__container {
  padding: 30px 85px 0px 85px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 0;
  max-width: 800px;
  @media (max-width: $breakpoint-big) {
    padding: 10px 12px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 800;
    margin: 30px 0 10px;
  }

  h1.page-title {
    margin-bottom: 25px;
    font-size: 38px;
    @media (max-width: $breakpoint-big) {
      font-size: 1.8rem;
    }
  }

  p.description-title {
    font-size: 22px;
    @media (max-width: $breakpoint-big) {
      font-size: 1.1rem;
      line-height: 1.2rem;
    }
  }

  p.description-subtitle {
    max-width: 400px;
    margin: 0 auto 0;
    @media (max-width: $breakpoint-big) {
      font-size: 0.93rem;
    }
  }

  h2.emoji-title {
    margin-bottom: -20px;
    font-size: 53px;
    @media (max-width: $breakpoint-big) {
      font-size: 2rem;
    }
  }

  h2.question-heading {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  p {
    line-height: 27px;
    font-size: 18px;
    margin: 5px 0 5px;
  }

  ul {
    line-height: 27px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 24px;
    list-style: none;

    li {
      margin-top: 6px;
    }
    li::before {
      content: "\203A";
      font-size: 23px;
      color: $pink;
      font-weight: 800;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  a {
    font-size: 18px;
    font-weight: 500;
  }

  .button-small__container {
    text-align: center;
    margin: 45px 0 40px;
  }

  img {
    border-radius: 10px;
    margin: 10px auto 10px;
    max-width: 350px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text-center {
  text-align: center;
}
