a.button {
  margin: 0 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  border-radius: 200px;
  padding: 20px 38px;
  border: 1.5px none rgb(138, 138, 138);
  background: transparent;
  color: white !important;
  background-color: #0069ff;
  text-transform: uppercase;

  &:hover {
    color: $light !important;
    background-color: $pink;
  }

  @media (max-width: $breakpoint-big) {
    font-size: 1rem;
    padding: 10px 12px;
  }

}

a.button-small {
  margin: 50px 0 20px;
  cursor: pointer;

  font-weight: 600 !important;
  border-radius: 200px;
  padding: 14px 34px;
  color: white !important;
  background-color: #0069ff;
  text-transform: uppercase;

  &:hover {
    color: $light !important;
    background-color: $pink;
  }

  @media (max-width: $breakpoint-big) {
    padding: 10px 20px;
  }
}

a.next-question{
  display: flex;
  align-items: center;
  cursor: pointer;
  svg{
    margin-left: 6px;
    margin-right: 6px;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &:hover{
    svg{
      
    }
  }
}

a.disabled{
  opacity: 0;
}