.navbar__container {
  background: rgba(22, 22, 22, 0);
  // backdrop-filter: blur(5px);
  // border-bottom: 0px solid rgba(255, 255, 255, 0.1);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  // position: sticky;
  top: 0;
  z-index: 10;

  .navbar__logo {
    margin-left: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-weight: 700;
    letter-spacing: 2px;
  }

  ul {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

    flex: end;
    li {
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-right: 30px;
      text-decoration: none;
    }

    li.active{
      box-shadow: inset 0px -4px 0px 0 #93c2db60;
    }

    @media (max-width: $breakpoint-big) {
      display: none;
    }
  }
}

.navbar-icon {
  margin-right: 0.8rem;
  max-width: 25px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;

  flex: end;
}

.nav-links {
  /* font-family: 'Barlow Condensed', sans-serif; */
  color: #acacac;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  transition: 0.31s;
  font-size: 16px;
}
