.options__container {
    display: flex;
  margin-top: 20px;
  width: fit-content;
  .option {

    text-decoration: none;
    font-size: 16px;
    margin-bottom: 12px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    padding: 15px 18px;

    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0);
    margin-right: 20px;
  }

  .option.active {
    border: 2px solid #06c;
  }


}

.q__navigation{
  display: flex;
  justify-content: space-between;
}
